package pages

import (
    "assistant/types"
    "assistant/llm"
    "assistant/api/assets/templ/components"
)

templ Home(contracts []types.Contract, conversation []types.Message, errorMessages []int, isSidebarOpen bool, textModels []llm.Model, selectedModel string) {
    <html lang="en">

    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/vendor/notiflix.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.16.0/cdn/themes/dark.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="htmx-config" content='{"timeout":1000000000}'>
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Assistant</title>
    </head>

    <body>
        <div class="flex flex-col h-screen bg-gray-900 text-white">
            @components.HeaderTemplate(isSidebarOpen, textModels, selectedModel)
            @components.MainContent(contracts, conversation, errorMessages, isSidebarOpen)
        </div>

        <script type="module"
            src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.16.0/cdn/shoelace-autoloader.js"></script>
        <script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>
        <script src="/static/js/vendor/notiflix.js"></script>
    </body>

    </html>
}